<h1 class="display-4">Categoriás</h1>
<div id="categories">
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Estados</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render partial: 'dashboard/admin/categories/category', locals: {category: category} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>